#homepage {
  background-image: url("../images/grid-bg.jpg");
}
.logo {
  font-size: 10em;
  color: #0F0F0F;
}
.pixel {
  font-family: 'Press Start 2P', monospace;
  font-size: 8rem;
  display: inline-block;
  opacity: 0;
  animation: pixelFadeIn 0.5s steps(12) forwards;
  filter: blur(10px);
}

@keyframes pixelFadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.code {
  font-family: 'Courier New', monospace;
  line-height: 8rem;
  display: inline-block;
  border-right: 2px solid #000 !important;
  white-space: nowrap;
  overflow: hidden;
}
