/***** GRID SETUP *****/
.grid {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-gap: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

@media all and (max-width: 700px) {
  aside,
  main {
    grid-column: 1 / 4;
  }
}

/* Demo Specific Styles */
header,
aside,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
}
/***** -end- GRID SETUP *****/

#homepage {
  background-image: url("../images/grid-bg.jpg");
  background-size: 30%;
}
body {
  font-family: 'Fira Code', Courier, monospace;
  background-color: #f7f7f7;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  color: #1B1B1F;
  line-height: 1.6;
}
h1, h2, h3 {
  font-family: 'Press Start 2P', sans-serif;
  margin-top: 2rem;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid #C0CEFF;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
}
/*section {
  margin-bottom: 3rem;
  padding: 10px;
  border-radius: 15px;
}
section > h3,
section > p,
section > img {
  margin-left: 10px;
}*/

.pixel-font { 
  font-family: 'Press Start 2P', monospace;
  font-size: 0.8rem;
}
.monospace-font {
  font-family: 'Courier New', monospace;
  font-size: 1.5rem;
}

.logo {
  font-size: 10em;
  color: #0F0F0F;
}
.pixel {
  font-family: 'Press Start 2P', monospace;
  font-size: 8rem;
  display: inline-block;
  opacity: 0;
  animation: pixelFadeIn 0.5s steps(12) forwards;
  filter: blur(10px);
}

@keyframes pixelFadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.code {
  font-family: 'Courier New', monospace;
  line-height: 8rem;
  display: inline-block;
  /*border-right: 2px solid #000 !important;*/
  white-space: nowrap;
  overflow: hidden;
}
