body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

section {
  width: 50%;
  margin: 0 auto;
  background-color: grey;
}

.photo-gallery {
  width: 100%;
  float: left;
}
.photo-gallery img {
  width: 100%;
  height: auto;
}
.photo-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.photo-gallery figcaption {
  display: none;
}
